* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color:  #244264;
    font-weight: 600;
    font-size: 2.5rem;
    opacity: 0.7;
}
h2,p {
    color:  #466992;
    font-weight: 500;
    opacity: 0.7;
}
h3 {
    color:  #244264;
    font-weight: 600;
    opacity: 0.7;
}
main {
    min-height: 100vh;
    background: linear-gradient(to right top, #648ab6, #8fcfaf);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}
.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, 
    rgba(255, 255, 255, 0.5), 
    rgba(255, 255, 255, 0.1));
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(1rem);
    display: flex;
}
.circle1, .circle2, .circle3 {
    background: white;
    background: linear-gradient(to right bottom, 
    rgba(255, 255, 255, 0.6), 
    rgba(255, 255, 255, 0.2));
    border-radius: 50%;
    position: absolute;
}

.circle1 {
    height: 15rem;
    width: 15rem;
    top: 1%;
    right: 10%;
}

.circle2 {
    height: 20rem;
    width: 20rem;
    top: 92%;
    left: 5%;
    transform: translateY(-90%);
}

.circle3 {
    height: 10rem;
    width: 10rem;
    bottom: 1%;
    right: 17%;
}

.avatar {
    border-radius: 50%;
}

.game-icon {
    border-radius: 1rem;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, 
    rgba(255, 255, 255, 0.6), 
    rgba(255, 255, 255, 0.2));
    border-radius: 2rem;
    padding: 1%;
}

.link {
    display: flex;
    margin: 1rem 0rem;
    padding: 1rem 3rem;
    align-items: center;
}
.links h2{
    padding: 0rem 2rem;
}
.games {
    flex: 2;
}

.pro {
    position: relative;
    background: linear-gradient(to right top, #648ab6, #b08fcf);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    display: flex;
}

.pro img {
    position: absolute;
    top: -25%;
    right: 10%;
}

.pro h2 {
    width: 40%;
    color: white;
}

/*Games*/
.status {
    margin-bottom: 3rem;
}

.status input{
    background: linear-gradient(to right bottom, 
    rgba(255, 255, 255, 0.6), 
    rgba(255, 255, 255, 0.2));
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.status input:focus {
    outline: none;
}

.games {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.card {
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
    justify-content: space-between;
}

.progress {
    background: linear-gradient(to right top, #648ab6, #b08fcf);
    width: 120%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.prog1::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(235, 235, 235),  rgb(194, 194, 194));
    position: absolute;
    left: 50%;
}

.prog2::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(235, 235, 235),  rgb(194, 194, 194));
    position: absolute;
    left: 30%;
}

.prog3::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(235, 235, 235),  rgb(194, 194, 194));
    position: absolute;
    left: 80%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.percentage {
    font-weight: bold;
    background: linear-gradient(to right bottom, #648ab6 20%, #b08fcf 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}